/* Give input bar rounded borders and custom font */
.input {
    border-radius: 10rem;
    width: 35%;
    height: 2rem;
    font: 16px system-ui;
    padding: 6px 10px;
}

/*Set the color for the text*/
.general-text {
    color: white;
}

/* Add an image */
.image-blurred {
		/* url to the image */
    background-image: url('https://w7.pngwing.com/pngs/680/813/png-transparent-nebula-atmosphere-sky-nebula-space-astronomy-space-miscellaneous-purple-texture.png');
    width: 50%; 
    height: 500px;
    object-fit: contain; /*The replaced content is scaled to maintain its aspect ratio while fitting within the element's content box. The entire object is made to fill the box, while preserving its aspect ratio*/
    margin-top: 70px; 
    box-shadow: 0 0 25px 25px black inset; /* creates a fade around the image so that the edges blend in with the black*/
}

/* Set background to black */
.background {
    background-color:black
}